<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/calculatorStyles.css') }}">
	<script src="{{ url_for('static',filename='js/calculatorScript.js') }}"></script>
</head>

<body>
    <div class="calculator">
        <div id="cellContainer">
            <div class="cells"></div>
        </div>
        
        <div class="display">0</div>
        <div class="buttons">
            <div class="operations">
                <button id="clear" class="secondaryButton">C</button>
                <button class="secondaryButton">/</button>
                <button class="secondaryButton">*</button>
                <button class="secondaryButton">-</button>
            </div>
            <div class="adjustableSection">
                <div class="digits">
                    <div class="row">
                        <button>7</button>
                        <button>8</button>
                        <button>9</button>
                    </div>
                    <div class="row">
                        <button>4</button>
                        <button>5</button>
                        <button>6</button>
                    </div>
                    <div class="row">
                        <button>1</button>
                        <button>2</button>
                        <button>3</button>
                    </div>
                    <div class="row">
                        <button class="longButton">0</button>
                        <button>.</button>
                    </div>
                </div>
                <div class="mainOperations">
                    <button class="tallButton">+</button>
                    <button class="tallButton">=</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>