{% extends './base.html' %}
{% block titulo %} Carrito{% endblock %}
{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/usersStyles.css') }}">
<script type="module" src="{{ url_for('static',filename='js/usersScript.js') }}"></script>
<script>
	var users_catalog = JSON.parse('{{ users_catalog|safe }}');
	var complete_catalog = JSON.parse('{{ catalog|safe }}');
	var current_user_id = '{{ current_user_id|safe }}';
</script>
{% endblock %}

{% block cuerpo %}
<div class="container">

	<table class="table">
		<thead>
			<tr>
				<th scope="col">Usuarios</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td scope="row">
					<!-- Users listed here -->
					<div id="listedUsers">

					</div>
					<div id="addUserArea">
						<button id="addUserButton" class="btn btn-success">Nuevo</button>
					</div>

				</td>
				<td>
					<form method="POST">
						<div id="usersArea">
							<div class="card">
								<div class="card-body">
									<input id="userIdField" name="id" class="userInput form-control d-none is-invalid" type="text"
										placeholder="Id de Usuario">
									<input id="userField" name="username" class="userInput form-control" type="text"
										placeholder="Usuario">
									<input id="fullNameField" name="fullname" class="userInput form-control" type="text"
										placeholder="Nombre Completo" >
									<input id="passwordField" name="password" class="passwordInput  form-control" type="password"
										placeholder="Nueva contraseña">
									<input id="confirmPasswordField" class="passwordInput  form-control" type="password"
										placeholder="Confirmar contraseña">
									<input id="typeField" name="usertype" class="form-control d-none" type="text"
										placeholder="0">
									<div class="dropdown">
										
										<button id="typeButton" class="btn btn-secondary dropdown-toggle" type="button"
											data-bs-toggle="dropdown" aria-expanded="false" >
											Cliente
										</button>
										<ul id="typeMenu" class="dropdown-menu">
											<li><a id="typeAdmin" class="dropdown-item" href="#">Administrador</a></li>
											<li><a id="typeClient" class="dropdown-item" href="#">Cliente</a></li>
										</ul>
									</div>
								</div>
								<div id="errorArea" style="display: none;" class="alert alert-danger" role="alert">
									This is a danger alert—check it out!
								</div>
								<div id="successArea" style="display: none;" class="alert alert-success" role="alert">
									This is a danger alert—check it out!
								</div>
								<div id="userCatalogButtons">
									<input id="actionType" class="form-control" type="hidden" name="action" value="save">
									<button id="saveButton" class="btn btn-primary" disabled type="submit">Guardar</button>
									<button id="deleteButton" class="btn btn-danger" disabled type="submit">Borrar</button>
								</div>
							</div>
					</form>
				</td>
			</tr>
		</tbody>
	</table>

</div>
</div>
{% endblock %}