<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rainforest | {% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static',filename='img/logo.png')}}">
	<!-- <script src="{{ url_for('static',filename='js/script.js') }}"></script> -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	<script>
		var type_user = '{{ type_user|safe }}';
	</script>
	{% block customCSS %}{% endblock %}
</head>

<body>
    <nav class="navbar justify-content-between navbar-custom">

        <a class="navbar-brand" href="{{ url_for('login') }}"><img src="{{ url_for('static',filename='img/rainforestw.png') }}" alt=""></a>
        <div id="searchArea" class="row align-items-center">
            <div class="col-auto px-0">
                <div class="btn-group">
                    <div class="dropdown">
                        <button id="categoriesButton" class="btn btn-secondary dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Todas las categorías
                        </button>
                        <ul class="dropdown-menu">
                            <li><a id="allItems" class="dropdown-item" href="#">Todo</a></li>
                            <div class="dropdown-divider"></div>
                            <li><a id="cdItems" class="dropdown-item" href="#">Albúms</a></li>
                            <li><a id="bookItems" class="dropdown-item" href="#">Libros</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col px-0">
                <input id="searchbar" class="form-control" type="search" placeholder="Buscar Rainforest.com.mx"
                    aria-label="Search">
            </div>

            <div class="col-auto px-0">
                <button id="searchbutton" class="btn btn-warning" type="submit">
                    <img src="{{ url_for('static',filename='img/magnifying-glass-svgrepo-com.svg')}}" alt="Search">
                </button>
            </div>
        </div>
        <div class="btn-group">
            <button id="userButton" class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span style="font-size: small;">Hola <strong style="font-weight: bold;">{{ current_user.username }}</strong></span>
            </button>
            <div id="userDropdown" class="dropdown-menu dropdown-menu-end">
                <!-- Use dropdown-menu-end to align to the end -->
                <div id="userOptions">
                    <!-- The User options appear hear based on user type -->

                </div>

                <a id="myBtn" class="dropdown-item" href="#">
                    <span>Calculadora</span>
                </a>
                <div class="dropdown-divider"></div>
                <a id="logoutButton" class="dropdown-item" href="{{ url_for('logout') }}">
                    <span>Cerrar Sesión</span>
                </a>
            </div>
        </div>
        </div>
        <div id="containerCart">
            <div id="cartGroup" class="btn-group">
                <button id="cart" class="btn btn-secondary" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    0
                </button>
                <div class="dropdown-menu dropdown-menu-end"> <!-- Use dropdown-menu-end to align to the end -->
                    <div id="cartItems">

                    </div>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                        <div class="d-flex justify-content-between">
                            <span>Total</span>
                            <b><span id="totalSpan">$0.00</span></b>
                        </div>
                    </a>
                    <div id="checkoutArea">
                        <a href="{{ url_for('checkout') }}">
                            <button id="checkoutButton" class="btn btn-warning mt-2">Pagar</button>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </nav>

    <!-- The Modal -->
    <!-- The Modal -->
	<div id="myModal" class="modal">
		<!-- Modal content -->
		<div class="modal-content" id="modalContent">
			<div class="modal-header">
				<span class="close">&times;</span>
			</div>
			<div class="modal-body">
				<p><iframe src="{{ url_for('calculator') }}"></iframe></p>
			</div>
		</div>
	</div>

    <div id="customBody">
		{% block cuerpo %} {% endblock %}
	</div>

    <div id="foot">
        <footer>
			<p>© 1996-2024, Rainforest.com, Inc. o sus afiliados</p>
		</footer>
    </div>
</body>

</html>